@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root{
    --priamry:#7030cc;
    --black:#000000;
    --grey:#CAD5E2;
    --white:#ffffff;;
    font-family: 'Poppins', sans-serif; 


}



h1,h2,h3,a{
    color: var(--black);

}

h2{
    font-size: 1.75rem;
}

p{
    color: var(--grey);
    font-size: 1.50rem;
    
    text-align: start;
}

.list-items a{
    color:var(--white);
    text-decoration: none;
}

.list-items a:hover{
    color: #2827CC;
}

.list-items li{
    list-style: none;
}

.container{
    background-color: var(--priamry);
    height: 100%;
}
.menu{
    display: none;
}

/* -----------------------------navbar  */

.navbar{
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding: 2rem;
}

.list-items{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 4rem;
    font-size: 1.5rem;
}

.active-btn{
    padding: 1.4rem 3rem;
    background-color: #1bbcef;
    text-align: center;

}

/* --------------hero-section */

.hero-section{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
   padding: 5rem 10rem;

 

   
}
body{
    background-color: var(--priamry);
}

.left-section{

width: 50%;

    


}

.right-section{
  
  
}



.left-section h1{
    font-size: 6rem;
    width: 100%;
    color: #ffffff;
    font-weight: 800;
}

.right-img img{
    width: 100%;
}


.left-section p{
  width: 100%;
    font-size: 1.5rem;
    
}



/* ----------------feature-section */

#feature-section{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
 
  
    padding: 5rem 10rem;
    margin-bottom: 5rem
   
}

.feature-right{
    display:flex;
  
    flex-direction: column;
    height: 80%;
    gap: 4rem;

   
}
.feature-left img{
    width: 50%;
}
.feature-right h2{
    font-size: 3rem;
}
.feature-list li{
list-style-image: url(../img/forward.png);
margin-top: 3rem;

}



/* ------------------bottom-section */


.bottom-section{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.header h2{
    font-size: 3rem;
}
.cards{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
}
.card{
    width: 20rem;
    height: 20rem;
    background-color: #ffffff;
  
    border-radius:1rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px var(--grey);
    margin-bottom: 4rem;
    gap: .3rem;
}
.card p{
    color: #000000;
}

.card:hover{
    box-shadow: 5px 5px 5px var(--priamry);
    cursor: pointer;
}

 #active{
    background-color: var(--priamry);
    border-radius: 1rem;
    padding: .4rem;
}
.card img{
    width: 40%;
    background-color:rgba(227, 199, 49, 0.42);
    padding: 2rem;
    border-radius: 3rem;
   
}


@media only screen and (max-width:768px){
  .navbar{
        padding: 1rem 3rem;
        justify-content: space-between;
    }
    .list-item{
        display: none;
    }
    .menu{
        display: block;
        font-size: 4rem;
        color: #fff;

    }
    .check{
        display: none;
    }
    .hero-section{
        flex-direction: column-reverse;
        justify-content: center;
        position: unset;
        width: 100%;
        padding: 2rem;

    
  
       
    }
    .right-img img {
        width: 100%;
    }
    .left-section h1{
        width: 100%;
        font-size: 4rem;
        margin: 0;

    }
    .left-section p{
        width: 100%;
        margin: 0;
    }
    .left-section{
        position: unset;
 width: 100%;
    }
    
    .right-section{
        position: unset;
       
    }


    #feature-section{
        flex-direction: column;
        padding: 3rem;
      
    }
 .feature-right{
    gap: 0;
 }
 .feature-left img{
    width: 100%;
    border-radius: 2rem
 }
  .header {
    text-align: center;
  }
 .cards{
    flex-wrap: wrap;
   
    padding: 1rem;
    gap: 2rem;
 }
}